body{
    font-family: 'Times New Roman', Times, serif;
    padding: 100px;
    background-image: url(../img/bg.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.title h1 {
    font-weight: bold;
}
/* Bordered form */
form {
    margin: auto;
    width: 25%;
    background-color: rgba(8, 3, 3, 0.781);
    padding: 10px;
    color: white;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password], input[type=email] {
    background-color: rgba(8, 3, 3, 0.781);
    color: white;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 25px;
  }
  
  /* Set a style for all buttons */
  button{
    background-color: #4c4c4a9b;
    color: rgba(255, 255, 255, 0.954);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
.button p{
    text-align: center;
    margin: auto;
}
.button img {
    width: 20px;
    height: 20px;
    padding: 1.5px;
    margin: auto;
    display: inline-block;
}
.button .google {
    background-color: rgba(8, 3, 3, 0.781);
    border: 1px solid #ffff;
}

  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  

  
  /* Center the avatar image inside this container */
  .title {
    text-align: center;
    margin: 24px 0 12px 0;
  }

  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  .container a{
    text-decoration: none;
    color:white;
  }
  .container a:hover{
    color: blue;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
  }